*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #14120B;
    color: #EDECEC;
    line-height: 1.5rem;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #14120B;
    padding: 10px;
    margin-right: 10px;
    position: sticky;
    top: 0px;
    z-index: 1000;

}

.logo{
    display: flex;
    padding-left: 6px ;
    padding-top: 2.5px;
    align-items:center ;
    justify-content: center;
}

.mid-nav{
    margin-left: 60px;
}

nav div a{
    color: #EDECEC;
    text-decoration: none;
    gap: 20px;
    padding: 5.6px 15px;
    font-size: 14px;
    font-weight: 50;
     ;
}

nav div button{
border-radius: 25px;
padding: 5px 10px ;
border: none;
font-size: 14.75px;

}

nav div button.black{
    background-color: #14120B;
    color: #EDECEC;
    border: 1.2px solid #45433E ;
}
div.text{
        font-size: 26px;

}
div.main_section {
    margin-top: 110px;
    margin-left: 20px;
    background-color: #14120B;
    color: #EDECEC;
    font-weight: 400;
    line-height: 1.25;
    font-size: x-large;
}
.main_section button{
    border-radius: 20px;
    padding: 11px 22px;
    font-size: 16px;
    margin-top: 25px;
    border: none;
}
.main_img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 30px;
    
    
}
div.main_img img{
    border-radius: 0.60%;
    overflow: hidden;
}

p.content{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 25px;
    font-size: 14.5px;
    color: #fff;
}

#comp_logos{
    display: grid;
    grid-template-columns: repeat(8,1fr) ;
    max-width: 1200px;
    margin-left: 19px;
    margin-right: 10px;
    gap: 10px;
    margin-bottom: 100px;
    
}

div.logos{
    border: 0.3px solid #221f1f;
    border-radius: 6px;
    background-color: #1B1913;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px 30px;
}

.logos img{
    max-width: 83px;
    max-height: 100%;
    opacity: 0.8;
}

.sec_pages{
    display: flex;
    flex-direction: column;
}

.secpage1{
    display: flex;
    justify-content: space-between;
    background-color: #1D1B15;
    margin-right: 10px;
    margin-left: 20px;
    height: 650px;
    width: 97%;
    align-items: center;
    border-radius: 6px;
    margin-bottom: 80px;
}
.page1_left{
    align-items: center;
    padding: 20px;
    font-size: x-large;
    color: #9A9996;
}

.first_line{
    color: #ffffff; 
}

.page1_left a{
    color: #d94907;
    text-decoration: none;
    font-size: 17px;
}
.page1_right{
    display: flex;
    justify-content: right;
}
.page1_right img{
    width: 770px;
    height: auto;
    margin-right: 20px;
    border-radius: 7px;
}

.secpage2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: #1D1B15;
    margin-right: 10px;
    margin-left: 20px;
    height: 650px;
    width: 97%;
    align-items: center;
    border-radius: 6px;
    margin-bottom: 80px;
}
.page2_right{
    align-items: center;
    padding: 20px;
    font-size: x-large;
    color: #9A9996;
}

.first_line{
    color: #ffffff; 
}

.page2_right a{
    color: #d94907;
    text-decoration: none;
    font-size: 17px;
}
.page2_left{
    display: flex;
    justify-content: right;
}
.page2_left img{
    width: 770px;
    height: auto;
    margin-left: 20px;
    border-radius: 7px;
}

.secpage3{
    display: flex;
    justify-content: space-between;
    background-color: #1D1B15;
    margin-right: 10px;
    margin-left: 20px;
    height: 650px;
    width: 97%;
    align-items: center;
    border-radius: 6px;
    margin-bottom: 150px;
}
.page3_left{
    align-items: center;
    padding: 20px;
    font-size: x-large;
    color: #9A9996;
}

.first_line{
    color: #ffffff; 
}

.page3_left a{
    color: #d94907;
    text-decoration: none;
    font-size: 17px;
}
.page3_right{
    display: flex;
    justify-content: right;
}
.page3_right img{
    width: 770px;
    height: auto;
    margin-right: 20px;
    border-radius: 7px;
}

.testimonials p{
    text-align: center;
    margin-bottom: 65px;
    font-size: 36px;
    font-weight: 400;
}

.testimonials_container{
    display: grid;
    grid-template-columns: repeat(3,auto) ;
    max-width: 1200px;
    margin-left: 19px;
    margin-right: 10px;
    gap: 10px;
    margin-bottom: 190px;
    
}
.testimonial_cards{
    border: 0.3px solid #221f1f;
    border-radius: 4px;
    background-color: #1B1913;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 13px 20px;
    width: 400px;
    height: 245px;
    overflow: hidden;


}

.bottom_card{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: auto;
}
.ceo_img img{
    height: 38px;
    width: 40px;
    border-radius: 2px
}

.ceo_name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0px;
    margin-bottom: 2px ;
}

.ceo_name h4{
    font-size: 14px;
    font-weight: 200;
    margin: 0px;
}
.ceo_name span{
    font-size: 14px;
    font-weight: 200;
    color: #999896;
    margin: 0px;
    line-height: 1.5;

}

.statement{
    font-size: 16.5px;
    color: #fff;
}

.heading{
    font-size: 26px;
    margin-bottom: 20px;
    margin-left: 20px;

}

.card_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-left: 19px;
    margin-right: 25px;
}

.card {
    border: 0.3px solid #221f1f;
    border-radius: 4px;
    background-color: #1B1913;
    padding: 20px;
    padding-top: 15px;
    height: 530px;
    min-height: 200px;
    margin-bottom: 180px;
}

.card_img img{
    height: auto;
    width: 360px;
    border-radius: 4px;

}

.content span{
    color: #ffffff;
    font-size: 16.5px;
    line-height: 1.5;
    
}

.content {
    color: #9A9996;
    font-size: 16.5px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.content a{
    color: #d94907;
    text-decoration: none;
    font-size: 17px;
    line-height: 1.5;
    display: inline-block;
    margin-top: 10px;
    
}

.historycards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    margin-left: 19px;
    margin-right: 25px;
    margin-bottom: 132px;
}

.hcards{
    border: 0.3px solid #221f1f;
    border-radius: 4px;
    background-color: #1B1913;
    height: auto;
    margin-bottom: 5px;
    padding: 16px;
}

.version{
    border: 1px solid #9A9996;
    border-radius: 30px;
    padding: 3.92px 9.1px 4.06px;
    font-size: 14px;
    color: #9A9996;
}

.date{
    color: #9A9996;
    font-size: 16.5px;
    line-height: 1.5;
    display: inline-block;
    padding-left: 10px;
    padding-bottom: 20px;
}

.changelog a{
    color: #d94907;
    text-decoration: none;
    font-size: 17px;
    line-height: 1.5;
    display: inline-block;
    margin-top: 10px;
    
}

.final_container{
    border: 0.3px solid #221f1f;
    border-radius: 4px;
    background-color: #1B1913;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 220px;
    height: 475px;
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;

    gap: 60px;
}

.final_left_wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 150px;
    
}

.final_left{
    color: #fff;
    font-size: 22px;
    line-height: 1.3;
    display: inline-block;
    margin-bottom: 20px;

}

.final_container a{
    color: #d94907;
    text-decoration: none;
    font-size: 17px;
    line-height: 1.5;
}

.final_right img{
    height: auto;
    width: 780px;
    border-radius: 4px;
}

.highlights_container{
    background-color: #1B1913;
    height: 690px;
    display: flex;
    flex-direction: row;
}
.highlights_container p{
    color: #e0dfdf;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
    display: inline-block;
    margin-top: 90px;
    margin-left: 20px;
    margin-right: 200px;
}

.cards_wrapper{
    display: flex;
    flex-direction: column;
    height: 680px;
    margin-top: 90px;
    width: 525px;
    margin-right: 100px;
    gap: 5px;
}

.highlight_cards{
    border: 0.3px solid #2b2820;
    border-radius: 4px;
    background-color: #201e19;
    margin-bottom: 5px;
    padding: 15px;
    padding-right: 25px;
    height: 150px;
    width: 600px;

    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;

}

.highlight_content span {
    color: #e0dfdf;
    font-size: 16px;
    line-height: 1.5;

}
.highlight_content {
    font-size: 16px;
    color: #9A9996 ;
    line-height: 1.5;
}

.card_bottom{
    font-size: 16px;
    color: #9A9996 ;
    line-height: 1.5;
    margin-top: auto;
}

.cards_wrapper a{
    color: #d94907;
    text-decoration: none;
    font-size: 17px;
    line-height: 1.5;
    margin-top: 10px;
}

.download_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 420px;
    justify-content: center;
}

.download_section h1{
    color: #fff;
    font-size: 70px;
    font-weight: 400;
    line-height: 1.3;
    display: inline-block;
    margin-bottom: 20px;
}

.download_section button{
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 22px;
    border-radius: 30px;
    border: none;
    
}

.semifooter{
    background-color: #1B1913;
    height: 460px;
}

.fcards_container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-left: 20px;
    padding-top: 60px;
}

.fcards{
    line-height: 2;
    font-size: 15px;
}

.fcards span{
    color: #9A9996 ;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    align-items: center;
    margin-top: 100px;
}

.footer_left{
    display: flex;
    flex-direction: row;
    gap: 10px;
    line-height: 1.5;
    font-size: 14px;
    align-items: center;
    color: #9A9996;
}

.footer_right{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;    
}

.icons {
    background-color: #26241E;
    height: 30px;
    width: 120px;
    border-radius: 30px;
    padding: 10px 20px;

    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.english{
    background-color: #26241E;
    height: 30px;
    width: 110px;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 14px;


    display: flex;
    align-items: center;
    gap: 10px;
}